
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');



.navbar-brand {
	
}

header.masthead{
	padding-top: 40px;
	padding-bottom: 40px;
}

.cover-size-image {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

.content {
	min-height: calc(100vh - 100px);
}

.footer {
	height: 100px;
}


#copyrights {
	margin-top: 3rem;
}

ul.sources  {
	list-style: none;
	font-size: 1.7rem;
}

header, .success {
	background: #43C6AC;  
    background: -webkit-linear-gradient(to right, #43C6AC, #96EF76) repeat scroll 0% 0%;
	background: -moz-linear-gradient(to right, #43C6AC, #96EF76) repeat scroll 0% 0%;
	background: -ms-linear-gradient(to right, #43C6AC, #96EF76) repeat scroll 0% 0%;
	background: -o-linear-gradient(to right, #43C6AC, #96EF76) repeat scroll 0% 0%;
	background: linear-gradient(to right, #43C6AC, #96EF76) repeat scroll 0% 0%;
	
	background: #43C6AC !important;  
    background: -webkit-linear-gradient(to right, #43C6AC, #109648) repeat scroll 0% 0% !important;
	background: -moz-linear-gradient(to right, #43C6AC, #109648) repeat scroll 0% 0% !important;
	background: -ms-linear-gradient(to right, #43C6AC, #109648) repeat scroll 0% 0% !important;
	background: -o-linear-gradient(to right, #43C6AC, #109648) repeat scroll 0% 0% !important;
	background: linear-gradient(to right, #43C6AC, #109648) repeat scroll 0% 0% !important;
	
	background: #1A7B4D !important;
}

nav, footer .footer-below {
	background-color: #34403a !important;
}

nav {
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}

 #mainNav .navbar-brand {
	font-size: 2rem;  
 }
 
section {
	padding: 3rem 0;
}
 
 /* Font sizes on mobile */
 
 
p {
	font-size: 1.7rem;
}
 
h1 {
	font-size: 3rem;
 }
 
h2 {
	margin-top: 2rem !important;
	margin-bottom: 1rem !important;
	font-size: 2.5rem !important;
}

.name {
	font-family: 'Amatic SC', sans-serif !important;
	font-size: 6rem !important;
}

.description {
	font-family: 'Quicksand', sans-serif !important;
	font-size: 2rem !important;
	text-transform: uppercase;
}


/* Font sizes on large screen */

@media (min-width: 992px) {
	
	p {
		font-size: 2rem;
	}

	h1 {
		font-size: 4rem;
	}
	
	.name {
		font-size: 9rem !important;
	}

	.description {
		font-size: 2.5rem !important;
	}
		
}

.nav-link {
	float: left !important;
}

#navbarResponsive.collapse.navbar-collapse {
	text-align: right !important;
	margin-right: 15px !important;
}


/* Navbar dropdown colour */

@media only screen and (max-width: 992px) {
	
	.navbar-toggler {
		position: relative;
		right: 5% !important;
	}
	
	#mainNav .navbar-nav {
		overflow-x: hidden;
		width: 100%;
	}
	#mainNav .navbar-nav li.nav-item {
		color: white; 
		background-color: #586e63;
		margin-bottom: 2px;
		width: 100%;
	}
	#mainNav .navbar-nav li.nav-item a {
		display: block;
		width: 100%;
		text-align: left !important;
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 5%;
	}
    #mainNav .navbar-nav li.nav-item:hover {
        background-color: #f1f1f1;
        outline: none;
	}
	#mainNav .navbar-nav li.nav-item:hover a {
		color: #33333 !important;
	}
    #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
        background-color: #f1f1f1;
	}
	#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus a {
		color: #33333 !important; 
	}
}



/* Scroll up button */

.btn-primary {
	font-weight: 700;
	color: white;
	border-color: #2C3E50;
	background-color: #34403a; }
.btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: black;
    background-color: #1a252f; }
.btn-primary:hover {
    color: white;
    border-color: #161f29;
    background-color: #1a252f; }
	
	
	
	
	
.success a {
	color: black !important;
}


.carenav {
	font-size: 2rem;
}

.carenav .fa {
	margin-right: 0.5rem;
}

#caredetails {
	border: 2px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 2rem;
}




/* Accordion */

#accordion {
	width: 100%;
}

.accordion-toggle {
	font-weight: bold;
	font-size: 2rem;
}

.glyphicon {
	float: left;
}

.panel-body {
	color: #333;
}

.panel-body a {
	color: #18BC9C !important;
}